@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>@Model.Name Details</h1>

@if (@Model.Clients.Count == 0)
{
  <h3>@Model.Name has no clients currently</h3>
}
else 
{
  <h3>Clients:</h3>
  <ul>
    @foreach (Client client in @Model.Clients)
    {
      <li>@client.Name</li>
    }
  </ul>
}

@Html.ActionLink("See All Stylists", "Index")